.prompt-list {
  margin-top: 3em;
  display: flex;
  flex: 9;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.card {
  /* background: #fff; */
  color: #333;
  width: 75%;
  margin: 0.5em 2em;
  padding: 50px 40px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(75, 74, 74, 0.05), -3px 0 6px rgba(75, 74, 74, 0.05);
}

.user-date {
  display: flex;
}

.text-box {
  /* background-color: yellow; */
  padding: 0 5px;
  margin: 10px auto;
  height: 60px;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 0.9em;
  display: flex;
  align-items: center;
  color: #333;
}

/* make it look like a button */
.card a {
  color: #555;
  text-decoration: none;
  background: #b5c8d4;
  font-size: 0.8em;
  text-align: center;
  padding: 8px 15px;
  border-radius: 20px;
  /* margin: 5px 15px; */
}

.card h2 {
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: -1px;
  word-spacing: -1px;
  margin-bottom: 4px;
}

.card h3 {
  font-weight: 200;
  font-size: 0.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}