html, body, #root {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
  background: #4F4E4E;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 1em;
  word-spacing: 1px;
}

button {
  cursor: pointer;
  font-family: 'montserrat', sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  min-width: 160px;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  background: #E9E6E6;
  color: rgb(53, 53, 53);
}
button:hover {
  background: #7F5573;
  color: #fff;
}

/* input, textarea {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  border-radius: 6px;
  padding: 8px;
  display: block;
  width: 100%;
} */

/* a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
} */

.loading, .error {
  text-align: center;
  font-size: 1em;
  margin: 40px auto;
  color: rgb(7, 66, 7);
}