.navbar {
  background: #212121;
  padding: 10px;
  color: #fff;
  position: sticky;
  top: 0;
}

.navbar nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
}

.navbar a.brand {
  /* moves all links all the way to the right, so the brand is on the left */
  /* margin-right: auto; */
  color: #fff;
  text-decoration: none;
}